.location {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.location .pin {
  font-size: 0;
  color: transparent;
  text-indent: -999999px;
  width: 3.8rem;
  height: 3.8rem;
  background: url(../../images/icon_pin_primary.svg) no-repeat center;
}

.locationSelectBox {
  width: 34rem;
  position: relative;
}
.locationSelectBox p {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 0 1.2rem;
  height: 4.2rem;
  line-height: 4rem;
  width: 100%;
  cursor: pointer;
}
.locationSelectBox ul {
  width: 34rem;
  display: none;
  position: absolute;
  top: 4.3rem;
  border-radius: 0.8rem;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 10;
  max-height: 23rem;
  overflow-y: auto;
}
.locationSelectBox ul li {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  line-height: 2.2rem;
  padding: 0.5rem 2rem 0.5rem 6.6rem;
  background: #fff;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left 2rem center;
  background-image: url(../../images/icon_pin_gray.svg);
}
.locationSelectBox ul li h5 {
  font-size: 1.6rem !important;
  font-weight: 400;
}
.locationSelectBox ul li span {
  color: rgba(0, 0, 0, 0.54);
}
.locationSelectBox ul li:hover {
  background-color: rgba(50, 115, 220, 0.12);
}
.locationSelectBox ul.on {
  display: block;
}
.locationSelectBox.md {
  width: 19rem;
}
.locationSelectBox.md p {
  height: 4rem;
  line-height: 3.8rem;
}
.locationSelectBox.md ul {
  width: 19rem;
}
.locationSelectBox.md ul li {
  height: 4rem;
  line-height: 4rem;
}
.locationSelectBox.sm {
  width: 9.8rem;
}
.locationSelectBox.sm ul {
  width: 9.8rem;
}