.datePickerWrap {
    flex: 1;
    .react-datepicker-wrapper {
        width: 100%;
        font-family: 'Noto Sans KR', sans-serif;
        .react-datepicker-ignore-onclickoutside {
            width: 100%;
        }
        input {
            width: 100%;
        }
    }
    .react-datepicker {
        font-family: 'Noto Sans KR', sans-serif;
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 25rem;
    }
    .react-datepicker__month-container {
        width: 100%;
        .react-datepicker__header {
            padding: 0;
            background: none;
            border-bottom: none;
            .react-datepicker__current-month {
                line-height: 2.2rem;
                font-size: 0.7rem;
                font-weight: 700;
                padding: 0 1rem;
                height: 2.2rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }
        }
    }
    .react-datepicker__day-names {
        display: flex;
    }
    .react-datepicker__day-name {
        line-height: 1.4rem;
        margin: 0;
        flex: 1;
    }
    .react-datepicker__day {
        flex: 1;
    }
    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        color: rgba(0, 0, 0, 0.87);
    }

    .react-datepicker__month {
        margin: 9px 0;
    }
    .react-datepicker__navigation {
        width: 1.8rem;
        height: 1.8rem;
        span {
            display: none;
        }
        &.react-datepicker__navigation--previous {
            background: url(../../images/calendar_left.svg) no-repeat center;
            background-size: 0.9rem;
            left: 1rem;
        }
        &.react-datepicker__navigation--next {
            background: url(../../images/calendar_right.svg) no-repeat center;
            background-size: 0.9rem;
            right: initial;
            left: 2.8rem;
        }
    }

    .react-datepicker__triangle {
        display: none;
    }
    .react-datepicker__week {
        height: 4.75rem;
        display: flex;
    }
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected,
    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range {
        background: none;
    }
    .react-datepicker__day--today,
    .react-datepicker__day--selected {
        color: #1bbdc8;
    }
    .react-datepicker__day--outside-month {
        color: rgba(0, 0, 0, 0.54);
    }
}
