.btn {
    padding: 0 1.6rem;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    border-radius: 8px;
    background: rgba(50, 115, 220, 0.12);
    color: rgba(0, 0, 0, 0.54);
    &.primary {
        background: #27bfb0;
        color: #fff;
    }
    &.upload {
        color: #fff;
        background: #27bfb0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        &::before {
            content: "";
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../../images/icon_upload.svg) no-repeat center;
        }
    }
    &.sm {
        height: 3.4rem;
        line-height: 3.4rem;
    }
    &.md {
        height: 4.2rem;
        line-height: 4.2rem;
    }
    &.lg {
        height: 5rem;
        line-height: 5rem;
        font-weight: 500;
        font-size: 1.6rem;
    }
}
