.toggleWrap {
    input[type="checkbox"] {
        display: none;
    }
    label {
        cursor: pointer;
        width: 5rem;
        height: 3rem;
        display: block;
        background: url(../../images/toggle_off.svg) no-repeat center;
    }
    input[type="checkbox"]:checked ~ label {
        background: none;
    }
}
