.formWrap {
  padding: 0 6.2rem;
}
.formWrap em {
  color: #ff3860;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  padding-left: 0.5rem;
  display: inline-block;
}
.formWrap .formTitle {
  height: 4.4rem;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.formWrap .formTitle i {
  color: #272727;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.formWrap .formTitle i em {
  color: #ff3860;
}
.formWrap .formItem {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
  gap: 1.2rem 0;
}
.formWrap .formItem h5 {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  width: 15.2rem;
}
.formWrap .formItem.amountItem {
  line-height: 2.2rem;
  padding: 1rem 0 0;
}
.formWrap .formItem.amountItem h5 {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
}
.formWrap .formItem.amountItem p {
  flex: 1;
  font-weight: 500;
  text-align: right;
  color: #1bbdc8;
}
.formWrap .formItem.amountItem p small {
  font-size: 1.4rem;
  font-weight: 400;
}
.formWrap .formItem.amountItem h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.formWrap .formItem.amountItem h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.87);
}
.formWrap hr.dashed {
  border: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.54);
  margin: 1.5rem 0 1rem;
}
.formWrap .shadowBox {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 1.5rem 1.6rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.formWrap .shadowBox span {
  display: block;
  color: rgba(0, 0, 0, 0.54);
}
.formWrap input[type=text],
.formWrap input[type=number] {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 1.2rem;
  height: 4.6rem;
  line-height: 4.6rem;
  flex: 1;
}
.formWrap input[type=text]:-moz-read-only, .formWrap input[type=number]:-moz-read-only {
  background: rgba(0, 0, 0, 0.06);
}
.formWrap input[type=text]:read-only,
.formWrap input[type=number]:read-only {
  background: rgba(0, 0, 0, 0.06);
}
.formWrap input[type=text]::-moz-placeholder, .formWrap input[type=number]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.54);
}
.formWrap input[type=text]::placeholder,
.formWrap input[type=number]::placeholder {
  color: rgba(0, 0, 0, 0.54);
}
.formWrap .textBoxItem {
  padding-top: 2.8rem;
}
.formWrap .textBoxItem p {
  line-height: 2.1rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 0.8rem;
}
.formWrap .textBoxItem .textBox {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.8rem;
}
.formWrap .textBoxItem .textBox .inner {
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s;
}
.formWrap .textBoxItem .textBox .more {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #1bbdc8;
  display: block;
}
.formWrap .textBoxItem .textBox.open .inner {
  white-space: initial;
  display: initial;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
  overflow: initial;
}
.formWrap h6 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  padding: 2.8rem 0 1.4rem;
}
.formWrap .infoItem {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.formWrap .infoItem h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.formWrap .infoItem span {
  height: 3.4rem;
  line-height: 3.2rem;
  border: 1px solid #27bfb0;
  border-radius: 5px;
  padding: 0 0.5rem;
  color: rgba(0, 0, 0, 0.87);
}
.formWrap .infoItem span.noData {
  color: rgba(0, 0, 0, 0.38);
}
.formWrap .amountBox .subTitle {
  padding: 1rem 0;
  height: 6.8rem;
  line-height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.formWrap .amountBox .amountInput {
  text-align: right;
}
.formWrap .addMorePeople {
  cursor: pointer;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}
.formWrap .addMorePeople::before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../images/icon_more_plus.svg) no-repeat center;
}
.formWrap textarea {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.8rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  width: 100%;
  height: 14.6rem;
}