.bodyWrapper {
  max-width: 198rem;
  background: #fff;
  margin: 0 auto;
  display: flex;
  color: #000;
  height: 100vh;
  position: relative;
}
.title {
  width: 100%;
  height: 7.6rem;
  line-height: 4.4rem;
  padding: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
}
