.scheduleBoxWrap {
  position: absolute;
  top: 0;
  left: 8rem;
  background: #fff;
  width: calc(100% - 56.2rem);
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .scheduleBoxWrap {
    width: calc(100% - 38rem);
  }
}
@media (max-width: 1280px) {
  .scheduleBoxWrap {
    width: calc(100% - 33rem);
  }
}
@media (max-width: 1200px) {
  .scheduleBoxWrap {
    width: calc(100% - 8rem);
  }
}
.scheduleBoxWrap .fc-scroller {
  height: auto !important;
}
.scheduleBoxWrap .title {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 700;
  height: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scheduleBoxWrap .close {
  font-size: 0;
  color: transparent;
  text-indent: -999999px;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../../../../images/icon_close.svg) no-repeat center;
}
.scheduleBoxWrap .calendarWrap {
  height: calc(100vh - 7.6rem);
  overflow-y: auto;
}
.scheduleBoxWrap .calendarWrap .fc {
  font-family: "Noto Sans KR", sans-serif;
}
.scheduleBoxWrap .calendarWrap .fc .fc-toolbar {
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 1.4rem;
}
.scheduleBoxWrap .calendarWrap .fc .fc-toolbar .fc-today-button {
  display: none;
}
.scheduleBoxWrap .calendarWrap .fc .fc-toolbar .fc-button {
  background: none;
  border: none;
  width: 3.6rem;
  height: 3.6rem;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  box-shadow: none;
}
.scheduleBoxWrap .calendarWrap .fc .fc-toolbar .fc-button span {
  display: none;
}
.scheduleBoxWrap .calendarWrap .fc .fc-toolbar .fc-button.fc-prev-button {
  background-image: url(../../../../images/calendar_left.svg);
}
.scheduleBoxWrap .calendarWrap .fc .fc-toolbar .fc-button.fc-next-button {
  background-image: url(../../../../images/calendar_right.svg);
}
.scheduleBoxWrap .calendarWrap .fc .fc-toolbar-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.87);
}
.scheduleBoxWrap .calendarWrap .fc .fc-theme-standard .fc-scrollgrid {
  border: none !important;
}
.scheduleBoxWrap .calendarWrap .fc table {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
}
.scheduleBoxWrap .calendarWrap .fc table .fc-col-header-cell-cushion {
  padding: 0.8rem 0;
}
.scheduleBoxWrap .calendarWrap .fc table .fc-daygrid-day-number {
  padding: 0;
}
.scheduleBoxWrap .calendarWrap .fc table th {
  border: none;
}
.scheduleBoxWrap .calendarWrap .fc table th.columnheader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.scheduleBoxWrap .calendarWrap .fc table .fc-daygrid-day-top {
  justify-content: center;
  cursor: pointer;
}
.scheduleBoxWrap .calendarWrap .fc .fc-day-today {
  background-color: transparent;
}
.scheduleBoxWrap .calendarWrap .fc .fc-day-today .fc-daygrid-day-number {
  color: #1bbdc8;
  font-weight: 700;
}
.scheduleBoxWrap .calendarWrap .fc .fc-scrollgrid-section-liquid > td {
  height: calc(100vh - 23rem);
  cursor: pointer;
}
.scheduleBoxWrap .calendarWrap .fc .fc-daygrid-day-frame {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.scheduleBoxWrap .fc-theme-standard td,
.scheduleBoxWrap .fc-theme-standard th {
  border: none;
}
.scheduleBoxWrap .fc-theme-standard .fc-scrollgrid {
  border-left: none;
}
.scheduleBoxWrap .eventBar {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
.scheduleBoxWrap .fc-h-event .fc-event-main {
  background-color: #3273dc;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
}
.scheduleBoxWrap .customPositionModal {
  position: absolute;
  z-index: 10;
}
.scheduleBoxWrap .customPositionModal .modalContents {
  position: initial;
  transform: none;
}