.chattingListWrap {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 38rem;
}
.chattingListWrap .chattingListBox {
  height: calc(100% - 12.8rem);
  overflow: auto;
}
.chattingListWrap .chattingListBox .item {
  padding: 1.2rem 4rem 1.2rem 8rem;
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  cursor: pointer;
}
.chattingListWrap .chattingListBox .item.on {
  background: #efefef;
}
.chattingListWrap .chattingListBox .item h4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
.chattingListWrap .chattingListBox .item p {
  color: #737373;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chattingListWrap .chattingListBox .item .profileBox {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  width: 5.6rem;
  height: 5.6rem;
}
.chattingListWrap .chattingListBox .item .messageNum {
  color: #fff;
  background: #27bfb0;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  border-radius: 1.2rem;
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}
.chattingListWrap .chattingListBox .item .time {
  color: rgba(0, 0, 0, 0.54);
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}
@media (max-width: 1024px) {
  .chattingListWrap {
    width: 8rem;
    overflow-x: hidden;
  }
  .chattingListWrap .title,
  .chattingListWrap .searchBoxWrap {
    display: none;
  }
  .chattingListWrap .chattingListBox {
    height: 100vh;
    overflow-x: hidden;
  }
  .chattingListWrap .item {
    height: 7.2rem;
  }
  .chattingListWrap .item h4,
  .chattingListWrap .item p,
  .chattingListWrap .item .messageNum,
  .chattingListWrap .item .time {
    display: none;
  }
}